@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&family=Pacifico&display=swap");
.root {
  --primaryColor:hsl(14,90%,53%);
  --primaryColorLight:hsl(14,96%,91%);
  --bgColor:hsl(0,0%,100%);
  --formColor:hsl(20,42%,87%);
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(0,0%,18%);
  --greyText:hsl(0,0%,51%);
  --inputColor:hsl(330,12%,97%);
  --cardColor:hsl(300,3%,94%);
  --biggestFontSize:2.5rem;
  --h1FontSize:2rem;
  --h2FontSize:1.25rem;
  --h3FontSize:1rem;
  --normalFontSize:0.938rem;
  --smallFontSize:0.831rem;
  --smallestFontSize:0.75rem;
  --borderRadius:3rem;
}

.review .seccontainer .textdiv .redtext {
  font-size: var(--smallFontSize);
  display: block;
  color: var(--primaryColor);
  font-weight: 700;
}
.review .seccontainer .textdiv h3 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  padding: 1rem 0;
}
.review .seccontainer .textdiv p {
  color: var(--blackColor);
}
.review .seccontainer .textdiv .stars {
  gap: 0.4rem;
  padding: 1rem 0;
}
.review .seccontainer .textdiv .stars .icon {
  color: var(--primaryColor);
  font-size: var(--h3FontSize);
}
.review .seccontainer .textdiv .clientimages {
  gap: 1rem;
}
.review .seccontainer .textdiv .clientimages img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 2px 2px rgb(251, 212, 194);
}
.review .seccontainer imgdiv {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.review .seccontainer imgdiv img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 480px) {
  .review .seccontainer .textdiv .redtext {
    font-size: var(--normalFontSize);
  }
  .review .seccontainer .textdiv h3 {
    font-size: 20px;
    color: var(--blackColor);
  }
  .review .seccontainer .textdiv p {
    color: var(--blackColor);
    font-size: var(--normalFontSize);
  }
  .review .seccontainer .textdiv .stars .icon {
    font-size: var(--h2FontSize);
  }
  .review .seccontainer .textdiv .clientimages img {
    height: 50px;
    width: 50px;
  }
  .review .seccontainer .imgdiv {
    height: 250px;
    width: 100%;
  }
  .review .seccontainer .imgdiv img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .review .seccontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .review .seccontainer .textdiv .redtext {
    font-size: var(--normalFontSize);
  }
  .review .seccontainer .textdiv h3 {
    font-size: 20px;
    color: var(--normalFontSize);
  }
  .review .seccontainer .textdiv p {
    color: var(--blackColor);
    font-size: var(--normalFontSize);
  }
  .review .seccontainer .textdiv .stars .icon {
    font-size: var(--h2FontSize);
  }
  .review .seccontainer .textdiv .clientimages img {
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 1240px) {
  .review .seccontainer {
    gap: 3rem;
  }
  .review .seccontainer .textdiv .redtext {
    font-size: var(--normalFontSize);
  }
  .review .seccontainer .textdiv h3 {
    font-size: var(--h1FontSize);
    color: var(--blackColor);
  }
  .review .seccontainer .textdiv p {
    color: var(--blackColor);
    font-size: var(--h3FontSize);
    line-height: 2rem;
  }
  .review .seccontainer .textdiv .imgdiv {
    height: 300px;
  }
}/*# sourceMappingURL=Review.css.map */